<% content_for(:page_title, "명도 시뮬레이터") %>
<%= render EvictionGuide::TabNavigationComponent.new(active_tab: "simulator") %>

<div>
  <%= render EvictionGuide::OccupantTypeSelectorComponent.new(simulation: @simulation) %>
</div>
